body{
    font-family: 'Poppins', sans-serif;
    
    
}
span{
    color: darkorange;

}
h1{
font-size: 40px;
}
#style{
    text-align: center;
    background-color: blue;
    
}
section{
    display: flex;


}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 20px;
    padding-right: 15px;

    
}
.half-width img{
    width: 50%;
    padding-top: 10px;
    padding: left 20px; 

}
.border{
    text-decoration: none;
    background-color: darkorange;
    padding: 10px 40px;
    border-radius: 15px;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    
    
}
.recipies{
    text-align: center;
    font-size: 20px;

}
.all-body{
    box-sizing: border-box;
   width: 30%;
   margin-left: 3%;
   margin-right: 3%;
   padding: 20px;
    box-shadow: 5px 5px 20px black;
}
.img-style{
    
}
.containar{
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: justify;
}
.body-text{
    margin: 5px;
    text-align: justify;
    padding: 10px;
}
#section{
    width: auto;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    box-shadow: 10px 10px 20px #000000;
    border-radius: 20px;
}
#footer{
    border: solid;
    text-align: center;
    margin: 50px;
    background-color: black;
    color: white;
}

